.primary-color {
    background-color: #B73590;
}

.user-nav {
    display: flex;
    gap: 1em;
    align-items: center;
}

.content-title {
    font-size: 25px;
    font-weight: bold;
}

input, select, textarea{
    color: black;
}

a {
    cursor: pointer;
}